/* Main styles for the entire application. */

body {
  font-family: 'Noto Sans JP', sans-serif; /* Default font */
  font-size: 20px;
  padding: 20px;
  background: #f7f7f7;
}

/* Add the following rule to apply monospace font */
body, h1, h2, h3, h4, h5, h6, p, label, input, select, option, button, span, div {
  font-family: 'Courier New', Courier, monospace;
}

header {
  background-color: #333;
  border-style: groove;
  box-shadow: inset 2px 2px 10px black;
  border-radius: 30px;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 36px; /* Increase font size for the main title */
  margin-bottom: 10px; /* Add some space below the title */
}

header h2 {
  font-size: 24px; /* Adjust font size for the subtitle */
}

label {
  font-size: 25px;
  color: whitesmoke;
}

input {
  width: 80%;
}

#row1 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 10px;
  height: 100%;
  width: 100%;
}
#filter {
  width: 80%;
}

#column1 {
  border-style: groove;
  background-image: url('../images/Screenshot\ 2024-03-23\ at\ 3.31.45\ PM.png');
  border-radius: 30px;
  box-shadow: inset 2px 2px 10px black;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

#Sub_column1 {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-25 {
  flex-basis: 45%;
  margin-top: 6px;
  margin-left: 5%;
}

#map {
  padding: 68px;
  height: 79%;
  border-style: groove;
  box-shadow: inset 2px 2px 10px black;
}

/* Legend */
#legend {
  border-style: groove;
  box-shadow: inset 2px 2px 10px black;
  border-radius: 30px;
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center; /* Center align the items */
  background-color: #f7f7f7; /* Added background color */
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px; /* Added padding */
  max-width: 200px; /* Adjusted max width */
  max-height: 564px;
  margin-left: 0px; /* Added margin */
  margin-right: 20px; /* Adjusted margin to move it closer to the map */
}

.legend-btn {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px; /* Adjusted padding */
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Added background color */
}

.legend-btn:hover {
  background-color: #f0f0f0;
}

.legend-btn.selected {
  background-color: #ffa7a7;
}

.legend-btn.selected .legend-symbol {
  border: 2px solid #333;
}

.legend-symbol {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
}

.legend-btn[ufo_shape="changing"] .legend-symbol {
  background: #c41d1d;
}

  .legend-btn[ufo_shape="chevron"] .legend-symbol {
    background: #995f12;
  }
  .legend-btn[ufo_shape="cigar"] .legend-symbol {
    background: #998c12;
  }
  .legend-btn[ufo_shape="circle"] .legend-symbol {
    background: #7a9912;
  }
  .legend-btn[ufo_shape="cylinder"] .legend-symbol {
    background: #3b9912;
  }
  .legend-btn[ufo_shape="diamond"] .legend-symbol {
    background: #0f7d1c;
  }
  .legend-btn[ufo_shape="disk"] .legend-symbol {
    background: #0f7d41;
  }
  .legend-btn[month="1"] .legend-symbol {
    background: #c41d1d;
  }
  .legend-btn[month="2"] .legend-symbol {
    background: #995f12;
  }
  .legend-btn[month="3"] .legend-symbol {
    background: #998c12;
  }
  .legend-btn[month="4"] .legend-symbol {
    background: #7a9912;
  }
  .legend-btn[month="5"] .legend-symbol {
    background: #3b9912;
  }
  .legend-btn[month="6"] .legend-symbol {
    background: #0f7d1c;
  }
  .legend-btn[month="7"] .legend-symbol {
    background: #0f7d41;
  }
  .legend-btn[month="8"] .legend-symbol {
    background: #0f7d63;
  }
  .legend-btn[month="9"] .legend-symbol {
    background: #0f787d;
  }
  .legend-btn[month="10"] .legend-symbol {
    background: #0e75a1;
  }
  .legend-btn[month="11"] .legend-symbol {
    background: #0f4187;
  }
  .legend-btn[month="12"] .legend-symbol {
    background: #0f2387;
  }

  .legend-btn[year="1950"] .legend-symbol {
    background: #585661;
  }
  .legend-btn[year="1960"] .legend-symbol {
    background: #9151a8;
  }
  .legend-btn[year="1970"] .legend-symbol {
    background: #85152f;
  }
  .legend-btn[year="1980"] .legend-symbol {
    background: #b0522a;
  }
  .legend-btn[year="1990"] .legend-symbol {
    background: #b09a2a;
  }
  .legend-btn[year="2000"] .legend-symbol {
    background: #186e26;
  }
  .legend-btn[year="2010"] .legend-symbol {
    background: #094263;
  }

  .legend-btn[time_day="0:00"] .legend-symbol {
    background: #19544e;
  }
  .legend-btn[time_day="6:00"] .legend-symbol {
    background: #0f780d;
  }
  .legend-btn[time_day="12:00"] .legend-symbol {
    background: #83b010;
  }
  .legend-btn[time_day="18:00"] .legend-symbol {
    background: #b04010;
  }

  .button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }

  .button:hover {
    background-color: #3e8e41; /* Darken the button color on hover */
 }

 .button:active {
    transform: translateY(1px); /* Add a subtle effect on click */
 }
/* Toggle button */
#toggleBtn {
  float: right;
  margin-right: 30%;  
}

/* Submit and Clear buttons */
.row4btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 5px;
}

#btnSubmitFilters {
  float: right;
}

#ClearBtn {
  float: right;
  margin-right: 20%;
}

.col-75 {
  flex-basis: 75%;
}

.col-50 {
  flex: 1;
}

#column2 {
  margin: .5em;
  text-align: center;
  padding: 5px;
  
  width: 95%;
  padding-left: 2%;
}

#column3 {
  text-align: center;
  padding: 5px;
  margin: .5em;
}

#legend::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

#legend::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners of the scrollbar handle */
}

#legend::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

#row2 {
  border-style: groove;
  border-radius: 30px;
  margin: .5em;
  box-shadow: inset 2px 2px 10px black;
  text-align: center;
  padding: 5px;
  height: 100px;
  display: flex;
  align-items: center;
}

/* Reset timeline button */
#btnResetTimeline {
  float: right;
  margin-right: 3%;
  margin-left: 1%;
}

#timeline {
  margin-left: 20%;
}

/* Tooltip */
#tooltip {
  position: absolute;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}

.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

#tooltip ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
  text-align: left;
}

/* Information button */
.info-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.info-button i {
  color: #333;
  font-size: 24px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.month-graph {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ufo-graph {
  margin-top: 10px;
  padding-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#graphContainer {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

#graphContainer .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
}

#graphContainer .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#graphContainer .close:hover,
#graphContainer .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}