body {
   font-family: 'Noto Sans JP', sans-serif;
   font-size: 20px;
   padding: 20px;
   background: #f7f7f7;
 }

header {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 20px;
   /* padding-bottom: 20%; */
   display: flex;
   flex-direction: column; 
   justify-content: space-between;
   align-items: center;
}

 label{
   font-size: 25px;
   color: whitesmoke;
 }

 input{
   width: 80%;
 }
#row1{
   display: grid;
   grid-template-columns: 1fr 3fr;
   padding: 10px;
   height: 100%;
   width: 100%;
}

#filter{
   width: 80%;
}

#column1{
   border-style: groove;
   background-image: url('../images/Screenshot\ 2024-03-23\ at\ 3.31.45\ PM.png');
   border-radius: 30px;
   margin: .5em;
   box-shadow: inset 2px 2px 10px black;
   text-align: center ;
   padding: 5px;
}

#Sub_column1{
   margin-top: 50%;
   display: flex;
   flex-direction: column;
justify-content: space-evenly;}

.row{
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.col-25 {
   flex-basis: 45%;
   margin-top: 6px;
   margin-left: 5%;
 }
#map {
   padding: 50px;
   height: 66%;
}
/* Legend */
.legend {
    margin: 20px 0;
    list-style: none;
    padding: 0;
  }
  .legend-btn {
    display: inline-block;
    margin: 0 0px 0 20px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
  }
  .legend-btn:hover.legend-btn.inactive:hover  {
    opacity: 0.7;
  }
  .legend-btn.inactive {
    opacity: 0.5;
  }
  .legend-symbol {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    display: inline-block;
  }
  .legend-btn[ufo_shape="changing"] .legend-symbol {
    background: #c41d1d;
  }
  .legend-btn[ufo_shape="chevron"] .legend-symbol {
    background: #995f12;
  }
  .legend-btn[ufo_shape="cigar"] .legend-symbol {
    background: #998c12;
  }
  .legend-btn[ufo_shape="circle"] .legend-symbol {
    background: #7a9912;
  }
  .legend-btn[ufo_shape="cylinder"] .legend-symbol {
    background: #3b9912;
  }
  .legend-btn[ufo_shape="diamond"] .legend-symbol {
    background: #0f7d1c;
  }
  .legend-btn[ufo_shape="disk"] .legend-symbol {
    background: #0f7d41;
  }
  .legend-btn[ufo_shape="egg"] .legend-symbol {
    background: #0f7d63;
  }
  .legend-btn[ufo_shape="fireball"] .legend-symbol {
    background: #0f787d;
  }
  .legend-btn[ufo_shape="flash"] .legend-symbol {
    background: #0e75a1;
  }
  .legend-btn[ufo_shape="formation"] .legend-symbol {
    background: #0f4187;
  }
  .legend-btn[ufo_shape="light"] .legend-symbol {
    background: #0f2387;
  }
  .legend-btn[ufo_shape="NA"] .legend-symbol {
    background: #321bb3;
  }
  .legend-btn[ufo_shape="other"] .legend-symbol {
    background: #3f1170;
  }
  .legend-btn[ufo_shape="oval"] .legend-symbol {
    background: #9c3cc2;
  }
  .legend-btn[ufo_shape="rectangle"] .legend-symbol {
    background: #744975;
  }
  .legend-btn[ufo_shape="sphere"] .legend-symbol {
    background: #c286b4;
  }
  .legend-btn[ufo_shape="teardrop"] .legend-symbol {
    background: #752b49;
  }
  .legend-btn[ufo_shape="triangle"] .legend-symbol {
    background: #8f2845;
  }
  .legend-btn[ufo_shape="unknown"] .legend-symbol {
    background: #ce9ab2;
  }

  .legend-btn[month="1"] .legend-symbol {
    background: #c41d1d;
  }
  .legend-btn[month="2"] .legend-symbol {
    background: #995f12;
  }
  .legend-btn[month="3"] .legend-symbol {
    background: #998c12;
  }
  .legend-btn[month="4"] .legend-symbol {
    background: #7a9912;
  }
  .legend-btn[month="5"] .legend-symbol {
    background: #3b9912;
  }
  .legend-btn[month="6"] .legend-symbol {
    background: #0f7d1c;
  }
  .legend-btn[month="7"] .legend-symbol {
    background: #0f7d41;
  }
  .legend-btn[month="8"] .legend-symbol {
    background: #0f7d63;
  }
  .legend-btn[month="9"] .legend-symbol {
    background: #0f787d;
  }
  .legend-btn[month="10"] .legend-symbol {
    background: #0e75a1;
  }
  .legend-btn[month="11"] .legend-symbol {
    background: #0f4187;
  }
  .legend-btn[month="12"] .legend-symbol {
    background: #0f2387;
  }

  .legend-btn[year="1950"] .legend-symbol {
    background: #585661;
  }
  .legend-btn[year="1960"] .legend-symbol {
    background: #9151a8;
  }
  .legend-btn[year="1970"] .legend-symbol {
    background: #85152f;
  }
  .legend-btn[year="1980"] .legend-symbol {
    background: #b0522a;
  }
  .legend-btn[year="1990"] .legend-symbol {
    background: #b09a2a;
  }
  .legend-btn[year="2000"] .legend-symbol {
    background: #186e26;
  }
  .legend-btn[year="2010"] .legend-symbol {
    background: #094263;
  }

  .legend-btn[time_day="0:00"] .legend-symbol {
    background: #19544e;
  }
  .legend-btn[time_day="6:00"] .legend-symbol {
    background: #0f780d;
  }
  .legend-btn[time_day="12:00"] .legend-symbol {
    background: #83b010;
  }
  .legend-btn[time_day="18:00"] .legend-symbol {
    background: #b04010;
  }
 #toggleBtn {
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
   margin-right: 35%;
 }


 .row4btn{
   display: flex;
   justify-content: space-evenly;
   margin-top: 5px;
   margin-bottom: 5px;

 }

#submitBtn{
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
}
 #ClearBtn{
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
   margin-right: 20%;
 }
 
 .col-75 {
   flex-basis: 75%;
 }
 .col-50{
   flex: 1;
 }

#column2{
   border-style: groove;
} 

#row2{
   border-style: groove;
   height: 100px;
   display: flex;
   align-items: center;
}

#resetBtn {
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   /* float: right; */
   /* margin-right: 65%; */
}


 /* Tooltip */
 /* TODO: Add tooltip styles */
 #tooltip {
   position: absolute;
   background: #fff;
   box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
   border: 1px solid #ddd;
   font-size: 12px;
   font-weight: 500;
   padding: 8px;
   min-width: 160px;
   color: #333;

 }
 .tooltip-title {
   color: #000;
   font-size: 14px;
   font-weight: 600;
   text-align: center;
 }
 #tooltip ul {
   margin: 5px 0 0 0;
   padding-left: 20px;
   text-align: left;
 }

 /* Styles for the information button */
.info-button {
  position: fixed; /* Fixed position */
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  z-index: 1000; /* Ensure it's above other content */
  background-color: rgba(255, 255, 255, 0.8); /* Background color */
  border: 3px solid #ccc; /* Border */
  border-radius: 50%; /* Rounded shape */
  width: 40px; /* Button width */
  height: 40px; /* Button height */
  display: flex; /* Flex display for centering content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer; /* Cursor style */
}

.info-button i {
  color: #333; /* Icon color */
  font-size: 24px; /* Icon size */
}

/* Styles for the modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1001; /* Sit on top of the button */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  padding-top: 60px; /* Location of the modal content */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px; /* Rounded corners */
  width: 60%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}